ul li ul.dropdown{
display: block;
}
ul li ul.dropdown{
    width: 100%;
    background: grey;
    position: absolute;
    z-index: 99;
    display: none;
}
ul li:hover ul.dropdown{
    display:block
}